<mjml>
  <mj-head>
    <mj-title>{{ title || (messages && messages[0] && messages[0].title) }}</mj-title>
    <mj-font name="Roboto" href="https://fonts.googleapis.com/css?family=Roboto:300,500"></mj-font>
    <mj-attributes>
      <mj-all font-family="Roboto, Helvetica, sans-serif"></mj-all>
      <mj-text font-weight="300" font-size="16px" color="#616161" line-height="24px"></mj-text>
      <mj-section padding="0px"></mj-section>
    </mj-attributes>
  </mj-head>
  <mj-body v-if="messages && messages[0]" background-color="#ffffff">
    <!-- Header / Preview -->
    <mj-section :background-color="organization.secondary" >
      <mj-column width="100%">
        <mj-text color="white" font-size="10px">{{ title || organization.title }}</mj-text>
      </mj-column>
    </mj-section>

    <!-- First Message -->
    <mj-section v-if="messages[0].firstImage">
      <mj-column width="100%">
        <mj-image :src="messages[0].firstImage.url"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column width="100%">
        <mj-text>
          <h2 style="font-weight: bold; margin-top: 0; margin-bottom: 0"><a :href="`${organization.website}/announcements/${messages[0].slug}`" :style="`color: ${organization.primaryColor}; text-decoration: none;`">
              {{messages[0].title}}
            </a></h2>
          <p v-html="messages[0].summary"></p>
          <p><a :href="`${organization.website}/announcements/${messages[0].slug}`" :style="`color: ${organization.primaryColor}; text-decoration: none;`">
              Read more &rarr;
            </a></p>
        </mj-text>
      </mj-column>
    </mj-section>
    
    <!-- Additional Messages -->
    <mj-section>
      <mj-column width="100%">
        <mj-divider border-width="1px" border-color="#E0E0E0"></mj-divider>
      </mj-column>
    </mj-section>

    <mj-section v-for="(message, index) in messages.slice(1)" :key="index">
      <mj-column width="25%" padding-right="0px" v-if="message.firstImage">
        <mj-image width="100px" :href="`${organization.website}/announcements/${message.slug}`" :src="message.firstImage.url"></mj-image>
      </mj-column>

      <mj-column width="75%">
        <mj-text>
          <h3 style="font-weight: bold; margin-top: 0; margin-bottom: 0"> <a :href="`${organization.website}/announcements/${message.slug}`" :style="`color: ${organization.primaryColor}; text-decoration: none;`">
              {{message.title}}
            </a> </h3>
          <p style="font-size: 14px" v-html="message.summary"></p>
          <p><a :href="`${organization.website}/announcements/${messages.slug}`" :style="`color: ${organization.primaryColor}; text-decoration: none;`">
              Read more &rarr;
            </a></p>
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column width="100%">
        <mj-divider border-width="1px" border-color="#E0E0E0"></mj-divider>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-social font-size="10px" icon-size="16px" mode="horizontal" align="left">
          <mj-social-element  name="web-noshare" :href="organization.website" v-if="organization.website">
            Website
          </mj-social-element>
          <mj-social-element name="facebook-noshare" :href="organization.facebook" v-if="organization.facebook">
            Facebook
          </mj-social-element>
          <mj-social-element name="instagram-noshare" :href="organization.instagram" v-if="organization.instagram">
            Instagram
          </mj-social-element>
          <mj-social-element  name="twitter-noshare" :href="organization.twitter" v-if="organization.twitter">
            Twitter
          </mj-social-element>
        </mj-social>
      </mj-column>
    </mj-section>
    
  </mj-body>
</mjml>
