<mjml>
  <mj-body>
    <mj-section v-if="messages[0]" >
      <mj-column>
        <mj-image width="100px" v-if="messages[0].firstImage" :src="messages[0].firstImage.url"></mj-image>
        <mj-text >{{messages[0].title}}</mj-text>
        <mj-text>{{messages[0].summary}}</mj-text>
      </mj-column>
    </mj-section>
       <mj-section background-color="#f0f0f0" v-for="(message, index) in messages.slice(1)" :key="index">
        <mj-column>
          <mj-text  >
            <a :href="`${organization.website}/announcements/${message.slug}`" >{{message.title}}</a>
          </mj-text>
          <mj-text>
            {{message.summary}}
            <mj-button v-if="message.links && message.links.find(l => l.type === 'Call to Action')" :href="message.links.find(l => l.type === 'Call to Action').title" >message.links.find(l => l.type === 'Call to Action').title</mj-button>
          </mj-text>
        </mj-column>
      </mj-section>
  </mj-body>
</mjml>
