<mjml>
  <mj-head>
    <mj-title
      >{{ title || (messages && messages[0] && messages[0].title) }}</mj-title
    >
    <mj-font
      name="Roboto"
      href="https://fonts.googleapis.com/css?family=Roboto:300,500"
    ></mj-font>
    <mj-attributes>
      <mj-all font-family="Roboto, Helvetica, sans-serif"></mj-all>
      <mj-text
        font-weight="300"
        font-size="16px"
        color="#333"
        line-height="24px"
      ></mj-text>
      <mj-section padding="0px"></mj-section>
    </mj-attributes>
  </mj-head>
  <mj-body v-if="messages && messages[0]" background-color="#E7E7E7">
    <!-- Header / Preview -->
    <mj-wrapper
      full-width="full-width"
      padding="40px 0 0 0"
      :background-color="organization.secondaryColor || '#182840'"
    >
      <mj-section
        background-color="white"
        :border-bottom="`10px solid ${organization.primaryColor}`"
      >
        <mj-group>
          <mj-column width="60px" padding="0" vertical-align="middle">
            <mj-image
              padding="10px"
              :src="organization.logoImageUrl"
              align="left"
            />
          </mj-column>
          <mj-column
            width="90%"
            padding="10px 0 10px 10px"
            border-left="1px solid #e7e7e7"
            vertical-align="middle"
          >
            <mj-text padding="0">
              <h1
                :style="`color: ${organization.primaryColor}; font-size: 16px; font-weight: 700; line-height: 1; margin: 0; padding: 0;`"
              >
                {{ title || organization.title.toUpperCase() }}
              </h1>
              <p
                :style="`color: #666; font-size: 16px; font-weight: 300; line-height: 1; margin: 0; padding: 0;`"
              >
                {{ subtitle || 'Newsletter' }}
              </p>
            </mj-text>
          </mj-column>
        </mj-group>
      </mj-section>
    </mj-wrapper>

    <!-- First Message -->
    <mj-section
      v-if="messages[0].firstImageFiles"
      full-width="full-width"
      :background-color="organization.secondaryColor || '#182840'"
    >
      <mj-column width="100%">
        <mj-image
          padding="0 0"
          :src="messages[0].firstImageFiles.find(f => f.name === 'banner').url"
        ></mj-image>
      </mj-column>
    </mj-section>
    <mj-section
      full-width="full-width"
      :background-color="organization.secondaryColor || '#182840'"
    >
      <mj-column padding-top="20px" width="100%" background-color="white">
        <mj-text>
          <h2 style="font-weight: bold; margin-top: 0; margin-bottom: 0">
            <a
              :href="`${organization.website}/announcements/${messages[0].slug}`"
              :style="`color: ${organization.primaryColor}; text-decoration: none;`"
            >
              {{messages[0].title}}
            </a>
          </h2>
          <p v-html="messages[0].summary"></p>
          <p>
            <a
              :href="`${organization.website}/announcements/${messages[0].slug}`"
              :style="`color: ${organization.primaryColor}; text-decoration: none;`"
            >
              Read more &rarr;
            </a>
          </p>
          <!-- <div v-html="messages[0].bodyHtml"></div> -->
        </mj-text>
      </mj-column>
    </mj-section>

    <!-- Additional Messages -->
    <mj-section background-color="white">
      <mj-column width="100%">
        <mj-divider border-width="1px" border-color="#E0E0E0"></mj-divider>
      </mj-column>
    </mj-section>

    <mj-section
      v-for="(message, index) in messages.slice(1)"
      :key="index"
      background-color="white"
      padding="0 0 0px 0"
    >
      <mj-group>
        <mj-column width="25%" padding-right="0px" v-if="message.firstImage">
          <mj-image
            width="100px"
            :href="`${organization.website}/announcements/${message.slug}`"
            :src="message.firstImage.url"
          ></mj-image>
        </mj-column>

        <mj-column :width="message.firstImage ? '75%' : '100%'">
          <mj-text>
            <h2 style="font-weight: bold; margin-top: 0; margin-bottom: 0">
              <a
                :href="`${organization.website}/announcements/${message.slug}`"
                :style="`color: ${organization.primaryColor}; text-decoration: none;`"
              >
                {{message.title}}
              </a>
            </h2>
            <p style="font-size: 14px; margin-bottom: 0">
              <span v-html="message.summary"></span>
              <a
                :href="`${organization.website}/announcements/${message.slug}`"
                :style="`color: ${organization.primaryColor}; text-decoration: none;`"
              >
                Read more &rarr;
              </a>
            </p>

            <p>
              <a
                v-for="(link, index) in message.links"
                :key="index"
                :href="link.link.url"
                :style="`background-color:  ${organization.primaryColor}; font-size: 12px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; text-decoration: none; padding: 14px 20px; margin-right: 5px; margin-bottom: 5px; color: #ffffff; display: inline-block; mso-padding-alt:
 0;`"
              >
                <!--[if mso]>
                  <i
                    style="
                      letter-spacing: 25px;
                      mso-font-width: -100%;
                      mso-text-raise: 30pt;
                    "
                    >&nbsp;</i
                  >
                <![endif]-->
                <span style="mso-text-raise: 15pt">{{link.link.title}}</span>
                <!--[if mso]>
                  <i style="letter-spacing: 25px; mso-font-width: -100%"
                    >&nbsp;</i
                  >
                <![endif]--></a
              >
            </p>
          </mj-text>
        </mj-column>
      </mj-group>
    </mj-section>

    <mj-section background-color="white">
      <mj-column width="100%">
        <mj-divider border-width="1px" border-color="#E0E0E0"></mj-divider>
      </mj-column>
    </mj-section>

    <mj-section background-color="white">
      <mj-column>
        <mj-social
          font-size="10px"
          icon-size="16px"
          mode="horizontal"
          align="left"
        >
          <mj-social-element
            name="web-noshare"
            :href="organization.website"
            v-if="organization.website"
          >
            Website
          </mj-social-element>
          <mj-social-element
            name="facebook-noshare"
            :href="organization.facebook"
            v-if="organization.facebook"
          >
            Facebook
          </mj-social-element>
          <mj-social-element
            name="instagram-noshare"
            :href="organization.instagram"
            v-if="organization.instagram"
          >
            Instagram
          </mj-social-element>
          <mj-social-element
            name="twitter-noshare"
            :href="organization.twitter"
            v-if="organization.twitter"
          >
            Twitter
          </mj-social-element>
        </mj-social>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column width="100%">
        <mj-text padding="40px"></mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
